# Note: Open3D has to be built from source to use CUDA
open3d>=0.13.0
torch>=1.9.0
torchvision>=0.10.0
numpy>=1.15.2
scikit-image>=0.14.0
opencv-python>=4.4.0.46
imageio>=2.9.0
# Note: I found that the easiest way to install PyTorch3D w/ CUDA is from git
git+https://github.com/facebookresearch/pytorch3d.git@stable
pillow>=8.1.1
# nnrt>=0.1.1 # Install manually for now
pybind11>=2.6.2
vtk>=9.0.1
tensorboardX>=2.1
tqdm>=4.51.0
setuptools>=56.0.0
multipledispatch>=0.6.0
click>=8.0.1
scipy>=1.7.0
pytest>=6.2.3
scikit-learn>=0.24.1
matplotlib>=3.4.2
kornia>=0.4.1
pynvml>=8.0.4
numba>=0.53.1
transformations>=2020.1.1
pyglet>=1.5.18
ext_argparse>=0.1.2
icecream>=2.1.1
mypy>=0.9
deprecated>=1.2.13