###################
# For NNRT + Fusion
###################
#
numpy>=1.15.2
torch>=1.9.0
torchvision>=0.10.0
cupy>=9.0
# Note: Open3D has to be built from source to use CUDA
open3d>=0.13.0
freetype-py
scikit-image>=0.14.0
opencv-python
imageio
# Mote: I found that the easiest way to install PyTorch3D w/ CUDA is from git
-e git+https://github.com/facebookresearch/pytorch3d.git@stable
#
###################
# For U-2-Net
###################
#
pillow>=8.1.1
paddlepaddle
paddlehub
gradio
#
